a{
    color: black;
}

ul{
    list-style: none;
}

body{
    margin: 0 auto;
    max-width: 1600px;
}

.contacts{
    margin-bottom: 40px;
}

.contacts_title{
    text-align: center;
    margin-bottom: 50px;
}

.contacts_content{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.contacts_img img{
    width: 250px;
}

.contacts_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contacts_PIB{
    font-size: 24px;
}

.contacts_media{
    display: flex;
    gap: 20px;
}


.about-me{
    margin-bottom: 60px;
}

.about-me_title{
    font-size: 20px; 
}

.about-me_content{
    font-size: 20px;
}

.experience{
    margin-bottom: 60px;
}

.experience_title{
    font-size: 20px;
}

.experience_content{
    font-size: 20px;
}


.education{
    margin-bottom: 60px;
}

.education_title{
    font-size: 20px;
}

.education_content ol{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}

.languages{
    margin-bottom: 60px;
}

.languages_title{
    font-size: 20px;
}

 .languages_content ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
 }

.skills{
    margin-bottom: 60px;
}

.skills_title{
    font-size: 20px;
}

 .skills_content ul{
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
 }

