/* aleo-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v14-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v32-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v32-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v32-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aleo", sans-serif;
  color: #fff;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: min(90%, 1320px);
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

hgroup {
  font-family: "Josefin Sans", sans-serif;
}
hgroup h1 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

button, .btn {
  color: #fff;
  font-family: "Aleo", sans-serif;
  line-height: 1.25rem;
  /* 142.857% */
  text-transform: uppercase;
  cursor: pointer;
}

.btn {
  position: relative;
  background: linear-gradient(50deg, #486BFE 0%, #486BFE 40%, #5373FD 40%);
  padding: 22px 32px 20px;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  z-index: 1;
  overflow: hidden;
  border: none;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(55deg, #486BFE 0%, #486BFE 80%, transparent 80%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.7s ease;
  z-index: -1;
}
.btn:hover::after {
  transform: translateX(25%);
}

.reserv-btn {
  padding: 21px 56px 20px;
}

h2 {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 2.5rem;
  /* 111.111% */
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.745rem;
  text-transform: uppercase;
}

.content-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1.75rem;
  /* 175% */
  letter-spacing: 0.1rem;
}

/*==========================MAIN-PAGE==========================*/
.first-page {
  height: calc(100vh - 84px);
  background: url(../images/bg-images/main-background.png) center 30%/cover no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 84px 0 124px;
}
.first-page::before {
  content: "";
}
.first-page hgroup {
  margin-bottom: 48px;
  text-align: center;
}
.first-page hgroup h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  /* 108.333% */
}
.first-page hgroup p {
  font-size: 1.375rem;
  line-height: 1.75rem;
  /* 127.273% */
  letter-spacing: 0.43rem;
  margin-left: 7px;
}

.search-form {
  padding: 0 5px 0 36px;
  height: 60px;
  width: 647px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-form input {
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
  width: 100%;
  border: none;
  outline: none;
}
.search-form input::placeholder {
  color: #999;
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.175rem;
}
.search-form button {
  background-color: #5373FD;
  padding: 16px 22px;
  border: 1px solid transparent;
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
  transition: all 0.2s ease;
}
.search-form button i {
  margin-right: 12px;
  vertical-align: middle;
}
.search-form button:hover {
  background-color: #00A2FF;
}

.scroll {
  position: relative;
  text-align: center;
  margin-bottom: 16px;
}
.scroll button {
  font-family: "Josefin Sans";
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.175rem;
}
.scroll button::after {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 47%;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
.scroll button:hover::after {
  transform: rotate(45deg) translate(5px, 5px);
}

.header-nav {
  position: sticky;
  top: 0px;
  background-color: #5373FD;
  padding: 32px 0 24px;
  z-index: 100;
}
.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo span, .logo {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  /* 116.667% */
  letter-spacing: 0.15rem;
}

.menu-list {
  display: flex;
  gap: 38px;
  padding-bottom: 8px;
}
.menu-list a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.086rem;
  text-transform: uppercase;
}
.menu-list a::after {
  content: " ";
  display: inline-block;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.menu-list a:hover::after {
  width: 70%;
}

/*==========================CHOOSE==========================*/
.choose {
  background: url(../images/bg-images/choose-background.png) top/cover no-repeat;
}

.choose-wrapper {
  padding: 125px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-content {
  max-width: 648px;
}
.choose-content h2 {
  margin-bottom: 25px;
}
.choose-content .content-text {
  margin-bottom: 31px;
}
.choose-content .content-text p + p {
  margin-top: 27px;
}

.choose-images {
  width: 424px;
  margin-right: 112px;
}
.choose-images img {
  max-width: 350px;
}

.images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.images-wrapper :last-child {
  align-self: flex-end;
}

/*==========================STEPS==========================*/
.steps {
  background-color: #333;
}

.steps-wrapper {
  position: relative;
}

.border-icon {
  padding: 0 70px;
  display: inline-block;
  position: absolute;
  top: 59px;
  right: 0;
  object-fit: contain;
  width: 100%;
}

.steps-list {
  position: relative;
  padding: 123px 0 60px;
  display: flex;
  justify-content: space-around;
}
.steps-list li {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  /* 111.111% */
}
.steps-list li i {
  margin-bottom: 18px;
  display: block;
  font-size: 64px;
  color: #5373FD;
}
.steps-list li i::before {
  background-color: #333;
}
.steps-list li .icon-check-icon {
  color: #FF6363;
}
.steps-list li .icon-like {
  color: #00A2FF;
}

/*==========================RESERVATION==========================*/
.spain {
  padding: 220px 0 122px;
}

.spain-house {
  background: url(../images/bg-images/spain-house-bg.png) top/cover no-repeat;
}

.spain-sea {
  background: url(../images/bg-images/spain-sea-bg.png) top/cover no-repeat;
}
.spain-sea .spain-wrapper {
  display: flex;
  justify-content: flex-end;
}

.spain-content {
  width: 49%;
  padding: 44px 60px 42px 32px;
  background-color: rgba(35, 35, 35, 0.9);
}
.spain-content hgroup p {
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75rem;
  /* 140% */
  letter-spacing: 0.125rem;
}
.spain-content .content-text {
  margin-bottom: 24px;
}

/*==========================QUOTE==========================*/
.feedback {
  background: url(../images/bg-images/quote-bg.png) top/cover no-repeat;
  padding: 120px 0 180px;
}
.feedback h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.25rem;
}

.feedback-content {
  display: flex;
  align-items: center;
  background-color: #333;
}
.feedback-content .content-text {
  position: relative;
}
.feedback-content .content-text i {
  position: absolute;
  top: -5px;
  color: #5373FD;
}
.feedback-content .content-text p {
  text-indent: 30px;
}

.feedback-quote {
  padding: 0 65px 0 60px;
}

.content-image img {
  width: 440px;
}

/*==========================FOOTER==========================*/
footer {
  background-color: #000;
  padding: 80px 0;
}

.footer-wrapper {
  text-align: center;
}
.footer-wrapper hgroup {
  margin-bottom: 20px;
}
.footer-wrapper hgroup h3 {
  margin-bottom: 8px;
}
.footer-wrapper hgroup p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.175rem;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.list-item i {
  font-size: 1.7rem;
  transition: all 0.3s ease;
}
.list-item i:hover {
  color: #5373FD;
}

@media screen and (max-width: 1500px) {
  .container {
    width: min(90%, 1140px);
  }

  .choose-content {
    width: 565px;
  }

  .choose-images {
    width: 460px;
    margin: 0;
  }

  .steps .container {
    padding: 0 71px;
  }

  .border-icon {
    top: 70px;
    padding: 0 115px;
  }

  .steps-list {
    justify-content: space-between;
    padding: 138px 0 44px;
  }
  .steps-list i::before {
    padding: 4px;
  }

  .content-image img {
    width: 378px;
  }

  .feedback-quote {
    padding: 0 65px 0 61px;
  }

  .spain-house {
    background: url(../images/bg-images/spain-house_1360.png) top/cover no-repeat;
  }

  .spain-sea {
    background: url(../images/bg-images/spain-sea_1360.png) top/cover no-repeat;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: min(93.8%, 1024px);
  }

  .choose-images {
    width: 387px;
    margin: 0;
  }

  .steps .container {
    padding: 0 42px;
  }

  .spain-content {
    width: 57%;
  }

  .spain-sea .spain-content {
    width: 57.5%;
  }

  .feedback {
    padding: 118px 0 181px;
  }

  .feedback-quote {
    padding-top: 4px;
  }

  .content-image img {
    width: 319px;
  }
}
@media screen and (max-width: 900px) {
  .header-nav .container {
    flex-direction: column;
    gap: 24px;
  }

  .choose-wrapper {
    padding: 61px 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .images-wrapper {
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
  }
  .images-wrapper img {
    width: 48%;
  }

  .choose-images {
    width: 100%;
  }

  .choose-content {
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .choose-content h2 {
    margin-bottom: 23px;
  }
  .choose-content .content-text {
    width: 100%;
    margin-bottom: 23px;
  }

  .steps-wrapper svg {
    display: none;
  }

  .steps-list {
    flex-direction: column;
    gap: 77px;
    padding: 76px 0 61px;
  }

  .spain {
    padding: 120px 0 125px;
  }

  .spain-content, .spain-sea .spain-content {
    width: 100%;
    padding-right: 35px;
  }
  .spain-content h3, .spain-sea .spain-content h3 {
    margin-bottom: 17px;
  }
  .spain-content .content-text, .spain-sea .spain-content .content-text {
    margin-bottom: 27px;
  }

  .spain-sea .spain-content {
    padding-top: 42px;
  }

  .feedback {
    padding: 54px 0 121px;
  }

  .feedback-content {
    flex-direction: column;
    gap: 45px;
  }

  .feedback-quote {
    padding-bottom: 46px;
  }

  .content-image img {
    width: 100%;
  }

  .footer-wrapper hgroup h3 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 670px) {
  .first-page {
    padding-top: 186px;
  }
  .first-page::before {
    display: none;
  }

  .first-page-wrapper {
    width: 100%;
    padding: 0 18px;
  }
  .first-page-wrapper form {
    width: 100%;
  }
  .first-page-wrapper form input {
    text-overflow: ellipsis;
  }

  .images-wrapper {
    margin-bottom: 35px;
  }

  .choose-content h2 {
    margin-bottom: 20px;
  }

  .feedback-quote {
    padding: 0 53px 46px 60px;
  }
}
@media screen and (max-width: 400px) {
  .search-btn span {
    display: none;
  }
  .search-btn i {
    margin: 0;
    font-size: 1.2rem;
  }
}