*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

img{
    max-width: 100%;
    vertical-align: top;
    object-fit: cover;
}

ul{
    list-style: none;
}

h2{
    margin-bottom: 79px;
    text-align: center;
    font-family: "Delius Unicase", cursive;
    font-size: 2.25rem;
    letter-spacing: 0.1125rem;
    font-weight: 400;
}

section:first-child h2{
    margin-top: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.container{
    width: min(90%, 1170px);
    margin: 0 auto;
}

.gallery{
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.gallery img{
    border-radius: 20px;
}


.w-span2{
    grid-column: span 2;
}
.h-span2{
    grid-row: span 2;
}


